{% extends "::site/base.html.twig" %}

{% block seo %}
    <title>Douat Têxtil - A malha que movimenta você</title>
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <style>body{background-color: #999999 !important;}</style>
{% endblock %}

{% block body_class %}{{ "page-representantes" }}{% endblock %}

{% block body %}
    <main>

        <div class="wrapper">
            <header class="header-interna">
                <h2>Representantes</h2>
            </header>
            <div class="white_column">
                <div class="wc_title">Selecione um estado</div>
                <div class="scrolling states">
                    <div class="item">Santa catarina</div>
                    <div class="item">Santa catarina</div>
                    <div class="item">Santa catarina</div>
                    <div class="item">Santa catarina</div>
                    <div class="item">Santa catarina</div>
                    <div class="item">Santa catarina</div>
                    <div class="item">Santa catarina</div>
                    <div class="item">Santa catarina</div>
                    <div class="item">Santa catarina</div>
                    <div class="item">Santa catarina</div>
                    <div class="item">Santa catarina</div>
                    <div class="item">Santa catarina</div>
                    <div class="item">Santa catarina</div>
                    <div class="item">Santa catarina</div>
                    <div class="item">Santa catarina</div>
                    <div class="item">Santa catarina</div>
                    <div class="item">Santa catarina</div>
                    <div class="item">Santa catarina</div>
                    <div class="item">Santa catarina</div>
                    <div class="item">Santa catarina</div>
                    <div class="item">Santa catarina</div>
                    <div class="item">Santa catarina</div>
                </div>
            </div>
            <div class="white_column opacity">
                <div class="wc_title">Selecione uma cidade</div>
                <div class="scrolling cities">
                    <div class="item">Joinville</div>
                    <div class="item">Joinville</div>
                    <div class="item">Joinville</div>
                    <div class="item">Joinville</div>
                    <div class="item">Joinville</div>
                    <div class="item">Joinville</div>
                    <div class="item">Joinville</div>
                    <div class="item">Joinville</div>
                    <div class="item">Joinville</div>
                    <div class="item">Joinville</div>
                    <div class="item">Joinville</div>
                    <div class="item">Joinville</div>
                    <div class="item">Joinville</div>
                    <div class="item">Joinville</div>
                    <div class="item">Joinville</div>
                    <div class="item">Joinville</div>
                    <div class="item">Joinville</div>
                    <div class="item">Joinville</div>
                    <div class="item">Joinville</div>
                    <div class="item">Joinville</div>
                    <div class="item">Joinville</div>
                    <div class="item">Joinville</div>
                </div>
            </div>
            <div class="white_column no-margin-right opacity">
                <div class="wc_title">representantes</div>
                <div class="scrolling representatives">
                    <div class="r_item">
                        <div class="ri_title">Nome do Presentante</div>
                        <div class="ri_city">Joinville - SC</div>
                        <div class="ri_phone">(99) 9999-9999</div>
                        <div class="ri_phone">(99) 9999-9999</div>
                        <div class="ri_email">email@email.com</div>
                    </div>
                    <div class="r_item">
                        <div class="ri_title">Nome do Presentante</div>
                        <div class="ri_city">Joinville - SC</div>
                        <div class="ri_phone">(99) 9999-9999</div>
                        <div class="ri_phone">(99) 9999-9999</div>
                        <div class="ri_email">email@email.com</div>
                    </div>
                    <div class="r_item">
                        <div class="ri_title">Nome do Presentante</div>
                        <div class="ri_city">Joinville - SC</div>
                        <div class="ri_phone">(99) 9999-9999</div>
                        <div class="ri_phone">(99) 9999-9999</div>
                        <div class="ri_email">email@email.com</div>
                    </div>
                    <div class="r_item">
                        <div class="ri_title">Nome do Presentante</div>
                        <div class="ri_city">Joinville - SC</div>
                        <div class="ri_phone">(99) 9999-9999</div>
                        <div class="ri_phone">(99) 9999-9999</div>
                        <div class="ri_email">email@email.com</div>
                    </div>
                    <div class="r_item">
                        <div class="ri_title">Nome do Presentante</div>
                        <div class="ri_city">Joinville - SC</div>
                        <div class="ri_phone">(99) 9999-9999</div>
                        <div class="ri_phone">(99) 9999-9999</div>
                        <div class="ri_email">email@email.com</div>
                    </div>
                    <div class="r_item">
                        <div class="ri_title">Nome do Presentante</div>
                        <div class="ri_city">Joinville - SC</div>
                        <div class="ri_phone">(99) 9999-9999</div>
                        <div class="ri_phone">(99) 9999-9999</div>
                        <div class="ri_email">email@email.com</div>
                    </div>
                    <div class="r_item">
                        <div class="ri_title">Nome do Presentante</div>
                        <div class="ri_city">Joinville - SC</div>
                        <div class="ri_phone">(99) 9999-9999</div>
                        <div class="ri_phone">(99) 9999-9999</div>
                        <div class="ri_email">email@email.com</div>
                    </div>
                    <div class="r_item">
                        <div class="ri_title">Nome do Presentante</div>
                        <div class="ri_city">Joinville - SC</div>
                        <div class="ri_phone">(99) 9999-9999</div>
                        <div class="ri_phone">(99) 9999-9999</div>
                        <div class="ri_email">email@email.com</div>
                    </div>
                </div>
            </div>

        </div>
        {% include 'site/footer.html.twig' %}

    </main>
{% endblock %}

{% block pageScripts %}
    <script type="text/javascript" src="https://maps.google.com/maps/api/js?sensor=true"></script>
    <script type="text/javascript" src="{{ asset('site/js/infobox.js') }}"></script>
    <script type="text/javascript" src="{{ asset('site/js/markerclusterer.js') }}"></script>
    <script type="text/javascript" src="{{ asset('site/js/maps.js?1') }}"></script>
{% endblock %}