{% extends "::admin_template.html.twig" %}

{% block content %}
    <h1>Bem vindo</h1>

    <!-- Widget
    <div class="widget widget-body-white widget-heading-simple">
        <div class="widget-body">

        </div>
    </div>
    <!-- // Widget END -->
{% endblock %}