<div class="footer-container">
    <footer class="limiter">

        <nav class="social-footer">
            <ul>
                <li><a href="#" class="social-facebook icon-face"><span>Facebook</span></a></li>
                <li><a href="#" class="social-instagram icon-instagram"><span>Instagram</span></a></li>
                <li><a href="#" class="social-blog icon-blog"><span>Blog</span></a></li>
            </ul>
        </nav>

        <a href="http://taginterativa.com.br/" title="TAG" class="lk-tag icon-tag" rel="external"><span>TAG</span></a>

        <p>Copyright © <?= date('Y'); ?> - Todos os Direitos Reservados - Douat Têxtil Ltda</p>

    </footer>
</div>