{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Bairro</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Nome</th>
                <td>{{ entity.nome }}</td>
            </tr>
        </tbody>
    </table>

        <a class="btn btn-default go-back" href="{{ path('cms_bairro') }}">
    Voltar
</a>

    <li>
        <a  href="{{ path('cms_bairro_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
{% endblock %}
