@font-face {
	font-family: 'icomoon2';
	src:url('fonts/icomoon.eot?-zhba8d');
	src:url('fonts/icomoon.eot?#iefix-zhba8d') format('embedded-opentype'),
		url('fonts/icomoon.woff?-zhba8d') format('woff'),
		url('fonts/icomoon.ttf?-zhba8d') format('truetype'),
		url('fonts/icomoon.svg?-zhba8d#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon2-"], [class*=" icon2-"] {
	font-family: 'icomoon2' !important;
	speak: none !important;
	font-style: normal !important;
	font-weight: normal !important;
	font-variant: normal !important;
	text-transform: none !important;
	line-height: 1 !important;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased !important;
	font-size: 294px !important;
	margin-bottom: -76px;
	margin-top: -85px;
	-moz-osx-font-smoothing: grayscale !important;
}
@media (min-width : 1000px) {
[class^="icon2-"], [class*=" icon2-"] {
	font-family: 'icomoon2' !important;
	speak: none !important;
	font-style: normal !important;
	font-weight: normal !important;
	font-variant: normal !important;
	text-transform: none !important;
	line-height: 1 !important;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased !important;
	font-size: 120px !important;
	margin-bottom: -32px;
	margin-top: -27px;
	-moz-osx-font-smoothing: grayscale !important;
}
}

.icon2-jacquard:before {
	content: "\e600" !important;
}
.icon2-casual:before {
	content: "\e601" !important;
}
