html, body {overflow: auto !important;}

.only-mobile {display: block;}
.only-desktop {display: none;}

.wrapper {width: 100%;}
.bt-menu {right: 20px; top: 20px;}
.header-container .logo {left: 20px; top: 30px;}
.content-home {width: 100%; padding: 0; text-align: center;}
.content-home p {display: none;}
.content-home h2 {width: 100%; text-align: center; font-size: 105px; padding: 0 65px 0 65px;}
.bt-default {float: none; display: inline-block; font-size: 47px; padding: 35px 15px 30px 15px}
.footer-home {z-index: 100;}
.marcadores-home {right: 20px;}
.secundary header {display: none;}
.nav-malhas {float: left; width: 100%;}
.nav-malhas li {position: static; width: 100%; background: none; height: auto;}
.nav-malhas li:hover {background: none;}
.nav-malhas li.ativo a {color: #fff;}
.nav-malhas a {font-size: 36px;}
.nav-malhas li span {font-size: 136px;}
.nav-malhas li strong {
  display: inline-block;
  clear: both;
  float: none;
	font-family: 'bebas_neuebook';
	font-size: 48px;
	line-height: 22px;
	color: #ffffff;
	text-transform: uppercase;
	padding: 35px 15px 30px 15px;
  width: auto;
	border: 1px solid #fff;
	letter-spacing: 2px;
	transition: all 0.5s;
	background: none;
	cursor: pointer;
  margin: 60px 0 0 0;
}
.social-footer {display: none;}
.lk-tag {display: none;}
.social-footer-home {display: none;}
.header-container nav {top: 100px;}

.header-container nav li.node-1 {top: 124px; left: 50%; margin-left: -248px;}
.header-container nav li.node-2 {top: 0; left: 50%; margin-left: -124px;}
.header-container nav li.node-3 {top: 124px; left: 50%;}
.header-container nav li.node-4 {top: 248px; left: 50%; margin-left: -124px;}
.header-container nav li.node-5 {top: 372px; left: 50%; margin-left: -248px;}
.header-container nav li.node-6 {top: 372px; left: 50%;}
.header-container nav li.node-7 {top: 496px; left: 50%; margin-left: -124px;}

.header-container .fake-nav.node-1 {top: 162px; left: 50%; margin-left: -210px;}
.header-container .fake-nav.node-2 {top: 40px; left: 50%; margin-left: -86px;}
.header-container .fake-nav.node-3 {top: 162px; left: 50%; margin-left: 36px;}
.header-container .fake-nav.node-4 {top: 284px; left: 50%; margin-left: -86px;}
.header-container .fake-nav.node-5 {top: 408px; left: 50%; margin-left: -210px;}
.header-container .fake-nav.node-6 {top: 408px; left: 50%; margin-left: 36px;}
.header-container .fake-nav.node-7 {top: 530px; left: 50%; margin-left: -86px;}

.header-container nav li ul {
	width: 100%;
	margin-left: -245px;
	top: 260px;
}
.header-container nav li li {
	margin-bottom: 20px;
}