{% extends "::site/base.html.twig" %}

{% block seo %}
    <title>Contato - Douat Têxtil - A malha que movimenta você</title>
    <meta name="description" content="" />
    <meta name="keywords" content="" />
{% endblock %}

{% block body_class %}{{ "page-contato" }}{% endblock %}
{% block body %}

    <!-- home html:i -->

    <main>

        <div class="wrapper">
            <header class="header-interna">
                <h2>Contato</h2>
            </header>
            <p class="intro-form">
                Para entrar em contato conosco, preencha o formulário abaixo.<br><br>
                Você também pode nos contatar por e-mail ou telefone:<br>
                <a href="mailto:contato@douattextil.com.br">contato@douattextil.com.br</a><br>
                (47) 3441.5722<br>
                Rua Rui Barbosa, 2930 - Costa e Silva<br>
                Joinville - SC, 89219-522


            </p>
            {% if(Messages) %}
                <p>
                    {% for Mensagem in Messages %}
                        {{ Mensagem }}
                    {% endfor %}
                </p>
            {% endif %}
            <form class="form-default" action="{{ path('contato_send') }}" method="post">
                <input type="hidden" name="estado" id="estado">
                <input type="hidden" name="cidade" id="cidade">
                <input type="text" placeholder="Nome" name="nome" required>
                <input type="text" placeholder="E-mail" name="email" required>
                <input type="text" placeholder="Telefone" name="telefone" class="tel">
                <textarea placeholder="Mensagem" name="mensagem" required></textarea>
                <button type="submit" class="bt-default">Enviar</button>
            </form>


        </div>
        {% include 'site/footer.html.twig' %}

    </main>

    <!-- home html:f -->
{% endblock %}