{% extends "::site/base.html.twig" %}

{% block seo %}
    <title>Douat Têxtil - A malha que movimenta você</title>
    <meta name="description" content="" />
    <meta name="keywords" content="" />
{% endblock %}

{% block body_class %}{{ "page-sobre" }}{% endblock %}
{% block body_style %}{{"background: url(" ~ asset(fundo) ~ ") no-repeat center top fixed;" }}{% endblock %}



{% block body %}
    <main>

        <div class="wrapper">
            {{ texto | raw }}
        </div>
        {% include 'site/footer.html.twig' %}

    </main>
{% endblock %}