{% extends "::site/base.html.twig" %}

{% block seo %}
    <title>Serviços Prestados - Douat Têxtil - A malha que movimenta você</title>
    <meta name="description" content="" />
    <meta name="keywords" content="" />
{% endblock %}

{% block body_class %}{{ "page-servicos" }}{% endblock %}
{% block body %}
    <main>

        <div class="wrapper">

        {{ texto | raw }}

        </div>
        {% include 'site/footer.html.twig' %}

    </main>
{% endblock %}