{% block content %}

{% set i = 1 %}   
{% set oarr = {} %}   
{% for row in rows %}	
    
    	{% set col1 = '<td class="text-center"><div class="checkbox checkbox-single margin-none"><label class="checkbox-custom"><i class="fa fa-fw fa-square-o"></i><input type="checkbox" name="record[]" value="' ~ row.id ~ '"></label></div></td>' %}
        {% set col2 = '<td><a href="' ~ path("cms_camera_edit", { "id": row.id }) ~ '">' ~ row.titulo ~ '</a></td>' %}
        {% set col3 = '<td><a href="' ~ path("cms_camera_edit", { "id": row.id }) ~ '" class="btn btn-stroke btn-circle btn-primary edit" data-toggle="tooltip" data-original-title="Editar" data-placement="top" ><i class="fa fa-pencil-square-o"></i></a><a href="' ~ path("cms_camera_delete", { "id": row.id }) ~ '" class="btn btn-stroke btn-circle btn-danger delete"  data-toggle="tooltip" data-original-title="Excluir" data-placement="top" ><i class="fa fa-trash-o"></i></a></td>' %}
		
		{% set arr = {} %}        
        {% set arr = {'col1':col1} %}
        {% set arr = arr|merge({'col2':col2}) %}
        {% set arr = arr|merge({'col3':col3}) %}
        {% set rowname = 'row' ~ i %}
        {% set oarr = oarr|merge({ (rowname) : arr }) %}
    
	{% set i = i + 1 %}   
{% endfor %}
    
{% set oarr = oarr|merge({ 'page' : page }) %}
{{ oarr|json_encode(constant('JSON_PRETTY_PRINT'))|raw }}

{% endblock %}
