{% spaceless %}
{% for cidade in cidades %}
	<option value="{{ cidade.id }}"{% if cidade.id in regiao_cidades %} selected="selected"{% endif %}>{{ cidade.nome }}</option>
{% endfor %}
{% endspaceless %}