{% extends '::admin_template.html.twig' %}

{% block title %}
    Novo Endereco |
{% endblock %}

{% block content %}
    <h1>Novo Endereco</h1>

    <div class="widget widget-heading-simple widget-body-white">
        <div class="widget-body">
            <div class="innerLR">
                <div class="form-horizontal">
                    {{ form(form) }}

                    <div style="clear: both;"></div>
                </div>
            </div>
        </div>
    </div>

        <a class="btn btn-default go-back" href="{{ path('cms_endereco') }}">
    Voltar
</a>

{% endblock %}

